<h1> Библиотека</h1>

<ul>
  <li> Номер библиотеки:  <%=  @library.number_library %></li>
  <li> Название библиотеки:  <%=  @library.name_library %></li>
  <li>  Адресс библиотеки:  <%=  @library.address_library %></li>
</ul>